{% extends '/base.twig' %}

{% block title %}Password change{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h5 class="card-header">Change password</h5>
                <div class="card-body">
                    <form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="password">Current password</label>
                            <input type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" id="password" name="password" value="{{ old.password }}">
                            {% if errors.password %}
                                <span class="invalid-feedback">{{ errors.password|first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="new_password">New password</label>
                            <input type="password" class="form-control{{ errors.new_password ? ' is-invalid' : '' }}" id="new_password" name="new_password" value="{{ old.new_password }}">
                            {% if errors.new_password %}
                                <span class="invalid-feedback">{{ errors.new_password|first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
